<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Horizontal Form</h3>
      </div>
      <%= render 'form', question: @question %>
    </div>
  </div>
</div>