<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Horizontal Form</h3>
      </div>
      <%= render 'form', student: @student %>
    </div>
  </div>
</div>